# Ignore real environment files
.env

# Ignore all contents of these folders
graph-data/*
textbook-data/*
speedparcel-data/*

# Re-allow the folders themselves
!graph-data/
!textbook-data/
!speedparcel-data/

# Re-allow placeholder files
!textbook-data/.gitkeep
!speedparcel-data/.gitkeep
!graph-data/.gitkeep

# Allow example env
!.env.example
