services:
  neo4j-restore:
    image: neo4j:2025-enterprise
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
    volumes:
      - $HOME/neo4j/data:/data
      - ./graph-data:/backups:ro
    entrypoint: ["/var/lib/neo4j/bin/neo4j-admin"]
    command:
      - "database"
      - "load"
      - "neo4j"
      - "--from-path=/backups"
      - "--overwrite-destination=true"
    profiles: ["restore"]

  neo4j_speedparcel:
    image: neo4j:2025-enterprise
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=${LOCAL_NEO4J_DB_USERNAME}/${LOCAL_NEO4J_DB_PASSWORD}
    volumes:
      - $HOME/neo4j/logs:/logs
      - $HOME/neo4j/config:/config
      - $HOME/neo4j/data:/data
      - $HOME/neo4j/plugins:/plugins
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: always

  neo4j_empty:
    image: neo4j:2025-enterprise
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=${EMPTY_NEO4J_DB_USERNAME}/${EMPTY_NEO4J_DB_PASSWORD}
    volumes:
      - $HOME/neo4j_empty/logs:/logs
      - $HOME/neo4j_empty/config:/config
      - $HOME/neo4j_empty/data:/data
      - $HOME/neo4j_empty/plugins:/plugins
    ports:
      - "7475:7474"
      - "7688:7687"
    restart: always
