# !!! Important: this value must be set to use the application. !!!
OPENAI_API_KEY=

# Local Neo4j Database Configuration for the SpeedParcel Database
LOCAL_SPEEDPARCEL_NEO4J_URI=bolt://localhost:7687
LOCAL_SPEEDPARCEL_NEO4J_USER=neo4j
LOCAL_SPEEDPARCEL_NEO4J_PASSWORD=password
LOCAL_SPEEDPARCEL_NEO4J_DATABASE=neo4j

# Local Neo4j Database Configuration for the Playground Database
LOCAL_PLAYGROUND_NEO4J_URI=bolt://localhost:7688
LOCAL_PLAYGROUND_NEO4J_USER=neo4j
LOCAL_PLAYGROUND_NEO4J_PASSWORD=password
LOCAL_PLAYGROUND_NEO4J_DATABASE=neo4j

LOCAL_SPEEDPARCEL_NEO4J_URI=bolt://localhost:7687
LOCAL_SPEEDPARCEL_NEO4J_USER=neo4j
LOCAL_SPEEDPARCEL_NEO4J_PASSWORD=password
LOCAL_SPEEDPARCEL_NEO4J_DATABASE=neo4j

LOCAL_PLAYGROUND_NEO4J_URI=bolt://localhost:7688
LOCAL_PLAYGROUND_NEO4J_USER=neo4j
LOCAL_PLAYGROUND_NEO4J_PASSWORD=password
LOCAL_PLAYGROUND_NEO4J_DATABASE=neo4j